aiohttp==3.5.4
alabaster==0.7.12
appdirs==1.4.4
asn1crypto==0.24.0
astroid==2.3.1
async-timeout==3.0.1
attrs==22.1.0
Automat==0.6.0
Babel==2.7.0
bleach==2.1.2
blinker==1.4
bottle==0.12.17
certifi==2019.9.11
chardet==3.0.4
charset-normalizer==2.0.7
click==6.7
cloud-init==22.4.2
colorama==0.4.1
command-not-found==0.3
conan==1.19.1
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.24
dataclasses==0.8
debugpy==1.5.1
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
deprecation==2.0.7
distlib==0.3.1
distro==1.1.0
distro-info===0.18ubuntu0.18.04.1
docutils==0.15.2
easyocr==1.6.2
entrypoints==0.2.3.post1
fasteners==0.15
filelock==3.0.12
future==0.17.1
html5lib==0.999999999
httplib2==0.9.2
humanize==3.14.0
hyperlink==17.3.1
idna==2.8
idna-ssl==1.1.0
imageio==2.15.0
importlib-metadata==3.4.0
importlib-resources==5.1.0
incremental==16.10.1
iniconfig==1.1.1
iotop==0.6
ipykernel==4.8.2
ipython==5.5.0
ipython_genutils==0.2.0
ipywidgets==6.0.0
isort==4.3.21
Jinja2==2.10.3
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
language-selector==0.1
lazy-object-proxy==1.4.2
llvmlite==0.36.0
macaroonbakery==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.3
monotonic==1.5
multidict==4.5.2
nbconvert==5.3.1
nbformat==4.4.0
netifaces==0.10.4
networkx==2.5.1
nibabel==2.2.1
ninja==1.11.1
node-semver==0.6.1
nostril @ git+https://github.com/casics/nostril.git@fbc0c91249283a9fbc9036206391ce1138826fd3
notebook==5.2.2
numba==0.53.1
numpy==1.17.1
oauthlib==2.0.6
olefile==0.45.1
onnx==1.10.2
opencv-python==4.5.1.48
opencv-python-headless==4.5.4.60
openmodelzoo-modeltools @ file:///home_livsgpu/mskrbek/src/open_model_zoo/tools/downloader/dist/openmodelzoo_modeltools-0.0.0-py3-none-any.whl
openvino-mo @ file:///usr/local/openvino/deployment_tools/model_optimizer/dist/openvino_mo-0.0.0-py3-none-any.whl
packaging==19.2
PAM==0.4.2
pandocfilters==1.4.2
patch==1.16
pexpect==4.2.1
pickleshare==0.7.4
Pillow==8.4.0
pkgconfig==1.3.1
plac==1.3.5
pluggy==1.0.0
pluginbase==0.7
polib==1.1.0
prompt-toolkit==1.0.15
protobuf==3.19.1
psutil==5.8.0
py==1.11.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pybind11==2.0.1
pybullet==3.0.6
pycairo==1.16.2
pyclipper==1.3.0.post4
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.4.2
PyGObject==3.26.1
PyJWT==1.7.1
pylint==2.4.2
pymacaroons==0.13.0
PyNaCl==1.1.2
pyOpenSSL==17.5.0
pyparsing==2.4.2
pyRFC3339==1.0
pyserial==3.4
pytesseract==0.3.0
pytest==7.0.1
python-apt==1.6.5+ubuntu0.7
python-bidi==0.4.2
python-dateutil==2.8.0
python-debian==0.1.32
python-minifier==2.4.1
pytz==2019.2
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==6.0
pyzmq==18.1.0
qibuild==3.16
qibullet==1.4.2
requests==2.26.0
requests-unixsocket==0.1.5
scikit-build==0.14.1
scikit-image==0.17.2
scipy==1.5.4
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
service-identity==16.0.0
Shapely==1.8.5.post1
simplegeneric==0.8.1
six==1.12.0
snowballstemmer==1.9.1
sos==4.4
Sphinx==1.3.1
sphinx-intl==0.9.5
sphinx-rtd-theme==0.1.9
ssh-import-id==5.7
system-service==0.3
systemd-python==234
tabulate==0.8.7
terminado==0.7
tesseract==0.1.3
testpath==0.3.1
tifffile==2020.9.3
tomli==1.2.3
torch==1.8.1
torchvision==0.9.1
tornado==4.5.3
tqdm==4.36.1
traitlets==4.3.2
Twisted==17.9.0
typed-ast==1.4.0
typing-extensions==3.7.4.3
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.6
vboxapi==1.0
virtualenv==20.4.2
wcwidth==0.1.7
webencodings==0.5
wolframclient==1.1.0
wrapt==1.11.2
xkit==0.0.0
yarl==1.3.0
zipp==3.4.0
zmq==0.0.0
zope.interface==4.3.2
